// Color Variables
$primary-color: #263999;
$secondary-color: #E69275;
$tertiary-color: #5069E6;
$text-color: #999999;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #AEAEAE;
$black: #000;
$white: #fff;
$light: #FBFBFB;
$gray: #F5F5F5;

// Font Variables
$primary-font: 'Oswald', sans-serif;
$icon-font: 'themify';